@import "foundation";
@include foundation-global-styles;

$textColor: #333;
$bgColor: #ccc;
@import "../../temp/_sprite";
@import "mixins/_sprite";

html {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bgColor;

  transition: background-image 1s ease-in-out;

  overflow: hidden;

  @for $i from 1 through 3 {
    &.bg-#{$i} {
      @include breakpoint(small only) {
        background-image: url('/images/background/bg-0#{$i}-small.jpg');
      }

      @include breakpoint(medium only) {
        background-image: url('/images/background/bg-0#{$i}-medium.jpg');
      }

      @include breakpoint(large only) {
        background-image: url('/images/background/bg-0#{$i}-large.jpg');
      }

      @include breakpoint(xlarge only) {
        background-image: url('/images/background/bg-0#{$i}-xlarge.jpg');
      }
    }
  }

}

html, body {
  color: $textColor;
}

a {
  text-decoration: none;
  color: $textColor;

  &:visited {
    color: $textColor;
  }
}

#main, header > div, footer > div {
  @include flex-grid-row;
}

#main {
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  bottom: 2em;
  padding: rem-calc($grid-column-gutter)/2 0;
  max-width: 100%;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}


header, footer {
  @include flex-grid-column;

  @include breakpoint(small) {
    @include flex-grid-column(12);
  }
  @include breakpoint(medium) {
    @include flex-grid-column(6);
  }
}

header {
  @include breakpoint(large) {
    @include flex-grid-column(4);
  }

  text-align: center;

  h1 {
    margin: .5em;

    a, img, picture {
      display: block;
      width: 100%;
    }
  }

  h2 {
    display: none;
  }
}

footer {
  @include breakpoint(large) {
    @include flex-grid-column(8);
  }
}

.info {
  @include flex-grid-row(nest);

  @include breakpoint(small) {
    @include flex-grid-column(12);
  }
  @include breakpoint(large) {
    @include flex-grid-column(6);
  }

  margin: .5em 0;

  .icon {
    @include flex-grid-column(shrink);
  }

  .text {
    @include flex-grid-column;
  }
}

.social {
  margin: .5em 0 0 0;

  .icon {
    @include flex-grid-column(2);
  }
}

@include breakpoint(medium) {
  #main {
    bottom: 4em;
  }
  .info {
    width: auto;
  }
}

@include breakpoint(large) {
  #main {
    bottom: 6em;
  }
}

.icon {
  span {
    display: none;
  }
}

$icons-key: map-keys($icons);
@for $i from 2 through length($icons-key) {
  $icon: nth($icons-key, $i);
  .#{$icon} {
    &:before {
      @include sprite($icon);
      content: '';
    }
  }
}