@import "../../temp/_normalize";
@import "../../temp/_sprite";

$textColor: #333;
$bgColor: #ccc;

@import "mixins/_functions";
@import "mixins/_settings";
@import "mixins/_sprite";

html {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bgColor;

  @media #{$small-only} {
    background-image: url('/images/background/bg-01-small.jpg');
  }

  @media #{$medium-only} {
    background-image: url('/images/background/bg-01-medium.jpg');
  }

  @media #{$large-only} {
    background-image: url('/images/background/bg-01-large.jpg');
  }

  @media #{$xlarge-up} {
    background-image: url('/images/background/bg-01-xlarge.jpg');
  }

}

html, body {
  color: $textColor;
}

a {
  text-decoration: none;
  color: $textColor;

  &:visited {
    color: $textColor;
  }
}

#main {
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  bottom: 2em;
  width: 100%;
}

header {
  text-align: center;

  h1 {
    margin: .5em;

    a, img, picture {
      display: block;
      width: 100%;
    }
  }

  h2 {
    display: none;
  }
}

footer {
  display: flex;
  flex-flow: row wrap;
}

.info {
  display: flex;
  margin: .5em 1em;
  align-items: center;
  text-align: justify;
  width: 100%;

  .icon {
    margin-right: .6em;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  margin: .5em 1em;
  width: 100%;
  .icon {
    display: block;
  }
}

@media #{$medium-up} {
  #main {
    display: flex;
    align-items: center;
    bottom: 4em;
  }
  header, footer {
    width: 50%;
  }
  .info {
    width: auto;
  }
}

@media #{$large-up} {
  #main {
    bottom: 6em;
  }
  header {
    width: 35%;
  }
  footer {
    width: 65%;
  }
  .social {
    .icon {
      margin: auto 2em;
    }
  }
}

.icon {
  span {
    display: none;
  }
}

$icons-key: map-keys($icons);
@for $i from 2 through length($icons-key) {
  $icon: nth($icons-key, $i);
  .#{$icon} {
    &:before {
      @include sprite($icon);
      content: '';
    }
  }
}